* {
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Sans GB';
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0
}

#TTM .status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#TTM .status div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#TTM .status ul {
    height: 32px;
}

#TTM .status ul li {
    float: left;
    width: 32px;
    height: 32px;
    background-image: url("img/xihuan.png");
}

#TTM .status ul li.light {
    background-image: url("img/xihuan-2.png");
}

#TTM .status .title {
    font-size: 20px;
    margin-right: 2px;
}

#TTM .status .data {
    font-size: 20px;
    margin-left: 10px;
}

p {
    display: none;
}

p.question {
    font-size: 24px;
    font-weight: 800;
    font-family: 'Hiragino Sans GB';
}

#curtain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#scene1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vh;
    height: 40vh;
}

#scene2,
#scene3,
#scene4,
#scene5,
#scene6,
#scene7,
#scene8,
#scene9,
#scene10,
#scene11 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160vh;
}

#scene2BtnGroup,
#scene3BtnGroup,
#scene4BtnGroup,
#scene5BtnGroup,
#scene6BtnGroup,
#scene7BtnGroup,
#scene8BtnGroup,
#scene9BtnGroup,
#scene10BtnGroup,
#scene11BtnGroup {
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

button {
    margin-bottom: 10px;
}